<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Campus-Navigator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28B665B22D61BAEB007A62C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28B665C22D61BAEC007A62C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28B665CC2D61BAEC007A62C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
